body {
	margin: 0;
	font-family: arial, sans;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

circle {
	stroke: #fff;
	transition: all ease-in-out 165ms;
}
circle:hover {
	transform: scale(1.1);
}

svg {}

.bubble {
	opacity: 1;
	transition: opacity 0.3s;

}

.bubble text {
	opacity: 0;
	pointer-events: none;
	font-size: 12px;
}

.bubble:hover text {
	opacity: 1;
}

.bubble:hover circle {
	fill-opacity: 0.5;
	/*mix-blend-mode: color-dodge;*/
}
